body{
  width: 100%;
  margin: 0;
}

.header{
  display: flex;
}

.button{
  border: 0;
}

.button--sign-in{
  background-color: #ffffff; /*возможно стоит просто заменить кнопку на ссылку,
  я знаю, что так делают для простоты, но решила тут попытаться поработать с кнопкой*/
}

.section-1{
  background-image: url(img/bg.png);
  background-size: cover; /*картинка по размеру блока*/
}

.title-1{
  width: 440px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: bold;
  font-size: 65px;
  color: #01996D;
  padding: 175px 1100px 30px 275px;
}

.text-1{
  width: 420px;
  font-family: ;
  font-size: 20px;
  padding-left: 275px;
}

.button--FindYourWay{
  font-family: ;
  font-size: 20px;
  padding: 20px 50px;
  margin-top: 18px;
  margin-left: 275px;
  color: #ffffff;
  background-color: #01996D;
}